input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* Safari e Chrome */
    margin: 0;
    /* Remover o espaço entre o número e a borda */
}


body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

#header {
    height: 180px;
    width: 100%;
    background-color: rgb(223, 223, 223);
    border-bottom: 1px solid rgb(149, 149, 149);
    box-shadow: 2px 1px 3px rgb(152, 152, 152);
}

#header h1 {
    position: relative;
    top: 80px;
    margin: 0px;
    text-align: center;
    font-size: 22px;
}

#container {
    width: 100%;
    height: 565px;
    border-bottom: 1px solid rgb(149, 149, 149);
    box-shadow: 2px 1px 3px rgb(152, 152, 152);
}

#endereco {
    position: relative;
    margin: auto;
    padding: 10px;
    align-self: center;
    width: 450px;
    top: 20px;
}

#endereco label {
    margin: 0%;
    padding: 0%;
    font-size: 18px;
}

#endereco input {
    margin-left: 5px;
    font-size: 16px;
    width: 170px;
}

#cardlogin {
    align-self: center;
    position: relative;
    top: 40px;
    border: 1px solid rgb(149, 149, 149);
    height: 400px;
    margin: auto;
    width: 480px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgb(152, 152, 152);
}

#cardlogin h2 {
    text-align: center;
    position: relative;
    top: 35px;
}

#formlogin {
    font-size: 20px;
    position: relative;
    top: 80px;
    left: 90px;
    width: 300px;
}

#formlogin input {
    font-size: 16px;
}

#formlogin #registro {
    position: relative;
    margin-left: 10px;
    top: -1px;
}

#formlogin #senha {
    position: relative;
    left: 28px;
    top: -2px;
}

#formhome {
    font-size: 20px;
    position: relative;
    top: 80px;
    left: -15px;
}

#formhome input {
    font-size: 16px;
}

#formhome #registro {
    position: relative;
    margin-left: 10px;
    top: -1px;
}

#formhome #senha {
    position: relative;
    left: 28px;
    top: -2px;
}


#btn-login {
    position: relative;
    top: 80px;
    border-radius: 7px;
    border: none;
    height: 40px;
    width: 110px;
    background-color: rgb(73, 73, 215);
    color: white;
    left: 105px;
    font-size: 16px;
    cursor: pointer;
}

#btn-enviarcad,  #btn-enviaratt, #btn-enviarcadseg, #btn-enviaratt-seg, #btn-enviarcadpon, #btn-enviaratt-pon, #btn-enviarrota{
    position: relative;
    top: -50px;
    border-radius: 7px;
    border: none;
    height: 40px;
    width: 110px;
    background-color: rgb(73, 73, 215);
    color: white;
    left: 90px;
    font-size: 16px;
    cursor: pointer;
}



#tabela-dinamica{
    border: 1px solid black;
    width: 480px;
    text-align: center;
    padding: 0px;
    border-collapse: collapse;
}

#tabela-dinamicarota{
    width: 480px;
    text-align: center;
    padding: 0px;
    border-collapse: collapse;
}

#tabela-dinamica tr td , #tabela-dinamicarota tr td{
    border: 1px solid black;
    padding: none;
    margin: 0;
}

#tabela-dinamica th, #tabela-dinamicarota th {
    border: 1px solid black;
    padding: none;
    margin: 0;
}